<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Daedalus v3105</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script type="text/javascript" src="/static/js/send.js"></script>
</head>
<body>
<div class="row rangee">
    <div class="col left-col">
        <h1 class="title">
            Daedalus v3105
        </h1>
        <p class="message">
            Ça avance bien!
        </p>
        <div class="arrows">
            <div class="arrow-container">
                <p class="up-arrow">
                    <a onclick="send('u')"><i class="bi-arrow-up-circle-fill icon"></i></a>
                </p>
                <p class="middle-arrows">
                    <a onclick="send('l')"> <i class="bi-arrow-left-circle-fill icon"></i></a>
                    <a onclick="send('r')"> <i class="bi-arrow-right-circle-fill icon"></i></a>
                </p>
                <p class="down-arrow">
                    <a onclick="send('d')"> <i class="bi-arrow-down-circle-fill icon"></i></a>
                </p>
            </div>
            <a href="/">
                <button type="button" class="btn btn-primary lost-btn">Je me suis perdu :(</button>
            </a>
        </div>
    </div>
    <div class="col right-col">
        <img src="/static/img/progress.png" alt="img" class="img">
    </div>

</div>
</body>
<script>

</script>

</html>